.relatedcomponent {
  margin-left: 10px;
  margin-right: 10px;
}

.relatedcomponent .bigcomponent-picture {
  position: relative;
  display: block;
  border-radius: 10px;
}

.related-category-title {
  color: #0076ff !important;
  font-size: 14px !important;
  margin-top: 5px;
}

.related-category-date {
  color: #9b9b9b !important;
  font-size: 12px !important;
  margin-top: 5px;
}

.relatedcomponent .content h3 {
  font-size: 20px !important;
  margin-top: 0px;
}

.relatedcomponent-innerwrapper {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

ion-thumbnail.big-thumbnail {
  width: 100%;
  height: 146px;
}
